{#
/**
 * @file
 *
 * Default theme implementation for profiles.
 *
 * Available variables:
 * - content: Items for the content of the profile.
 *   Use 'content' to print them all, or print a subset such as
 *   'content.title'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('title') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - profile: The profile object.
 * - url: The profile URL.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>

	<div class="large-3 columns">
		<div class=""  {{ content.field_staff_listing_image }}</div>
		<div class=""  {{ content.field_staff_listing_name }}</div>
		<div class=""  {{ content.field_position }}</div>
		<div class=""  {{ content.field_email_address }}</div>
		<div class=""  {{ content.field_linkedin_profile }}</div>
	</div>
	
	<div class="large-9 columns"
		<div class=""  {{ content.field_biography }}</div>
	</div>

</div>
